language: node_js
node_js:
  - "0.10"
  - "0.12"
  - "4.1"
matrix:
  fast_finish: true
script: "npm run-script test"
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
after_script: "cp ./coverage/Fire*/lcov.info ./coverage && ls -cal ./coverage && npm install coveralls@2.10.0 && cat ./coverage/lcov.info | coveralls"
